<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<!--<meta http-equiv="content-type" content="text/html;charset=utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta content="always" name="referrer">
	    <meta name="theme-color" content="#2932e1">-->
		<link rel="stylesheet/less" type="text/css" href="css/styles.less" />
		<script type="text/javascript" src="js/less.js"></script>
		<title></title>
		<!--		<<link rel="stylesheet" href="css/bootstrap.css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="css/bootstrap.css/bootstrap.min.css" />-->
		<link rel="stylesheet" href="css/bootstrap2/bootstrap.css" />
		<link rel="stylesheet" href="css/bazel.build.css" />
		<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/vue2.5.js"></script>
		<title></title>
		<style type="text/css">
			img {
				cursor: pointer;
			}
			
			#app {
				padding: 20px 40px
			}
		</style>
	</head>

	<body>

		<div id="app">
			<div @click="ganni" ref="myimg" style="display: inline-block;position: relative;">
				<img src="img/网管地图.jpg" />
				<span style="display: inline-block;position:absolute;" v-show="isshowgate" @click.stop.prevent="insert" style="position: absolute;" :style="position">
					<img src="img/blueImageMarker.png" id="insertgate" />
					<!--弹出框-->
				</span>
				<!--获取图片列表-->
				<span v-for="imglist in imglists" style="display: inline-block;position:absolute;" @click.stop.prevent="clickimg(imglist)" style="position: absolute;" :style="{ left:imglist.x,top:imglist.y}" data-container="body" data-toggle="popover" data-placement="top" data-content="<input type='text' value=' + vm.insertX + ' />" data-html="true">
						<img src="img/blueImageMarker.png"/>
				</span>
				<!--'<input type="text" value=' + vm.insertX + ' />\
    		<input type="text" value=' + vm.insertY + ' />\
    		<button type="button" class="btn btn-small btn-primary">保存</button>\
    		<button type="button" class="btn btn-small btn-default">重置</button>'-->

			</div>

			<div id="gate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">Modal header</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal w80p" style="margin: 0 auto;">
						<div class="row-fluid">
							<div class="span6">
								<div class="control-group">
									<label class="control-label">经度：</label>
									<div class="controls">
										<input type="text" v-model="insertX" />
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label">纬度：</label>
									<div class="controls">
										<input type="text" v-model="insertY" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">mac：</label>
									<div class="controls">
										<input type="text" v-model="mac" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">类别:</label>
									<div class="controls">
										<select id="placetype" style="width:154px">
											<option value="1">房间</option>
											<option value="2">楼道</option>
											<option value="3">大门</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">科室:</label>
									<div class="controls">
										<select id="placetype" style="width:154px">
											<option value="1">房间</option>
											<option value="2">楼道</option>
											<option value="3">大门</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">位置：</label>
									<div class="controls">
										<input type="text" v-model="location" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">z轴：</label>
									<div class="controls">
										<input type="text" v-model="zAxias" />
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">删除</a>
					<a href="#" class="btn btn-primary" v-on:click="save">保存</a>
				</div>
			</div>

		</div>
	</body>
	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				isshowgate: false,
				position: "",
				insertX: "",
				insertY: "",
				location: "",
				mac: "",
				zAxias: "",
				selectedtype: "",
				imglists: []
			},
			created() {
				document.addEventListener('click',(e)=>{
			        console.log(this.$refs.myimg.contains(e.target));
			        if(!this.$refs.myimg.contains(e.target)){
			            this.isshowgate = false;
			        }
			    })
			},
 			mounted: function() {

				var that = this
				this.getInfo(that)
			},
			methods: {
				getInfo: function(that) {
					$.ajax({
						url: "./test.json",
						type: "GET",
						data: {},
						dataType: "json",
						async: false,
						success: function(res) {
							console.log(res);
							that.imglists = res
							that.$nextTick(function() {
								//弹出 popover
								/*$("[data-toggle='popover']").popover('show');*/
							})
						},
						error: function() {
							alert("获取用户信息失败。")
						}
					})
				},
				clickimg: function(item) {
					vm.insertX = item.x
					vm.insertY = item.y
					vm.location = item.location
					vm.mac  = item.mac
					vm.zAxias = item.zAxias
					$('#gate').modal('toggle')
				},
				ganni: function(e) {
					console.log(e)
						//尝试计算元素的 ref 距离最左边 和最右边的距离
					var left = vm.$refs.myimg.offsetLeft
					var top = vm.$refs.myimg.offsetTop
						// 当前情况下 鼠标的距离 最左边 和最上边的距离
					var e = event || window.event;
					var scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
					var scrollY = document.documentElement.scrollTop || document.body.scrollTop;
					var x = e.pageX || e.clientX + scrollX;
					var y = e.pageY || e.clientY + scrollY;
					// 相对于图片的距离
					vm.isshowgate = true;
					/*document.body.offsetWidth+'+可视区域的全部宽度=========='+innerwidth+'(padding+width+border+滚动条)</div>\
					<div>body的高度'+document.body.offsetHeight*/
					var allheight = vm.$refs.myimg.offsetHeight
					var allwidth = vm.$refs.myimg.offsetWidth
					var x1 = x - left
					var xp = (x1 / allwidth) * 100
					var y1 = y - top
					var yp = (y1 / allheight) * 100

					vm.position = "left:" + xp + "%;top:" + yp + "%"
					vm.insertX = xp + "%";
					vm.insertY = yp + "%"
					vm.location = ""
					vm.mac  = ""
					vm.zAxias = ""
						/*$('#gate').modal('toggle')*/
						/*alert('x: ' +(x - left) + '\ny: ' + (y - top ));*/
						/*return { 'x': (x - left), 'y': (y - top) };*/

				},
				insert: function() {
					$('#gate').modal('toggle')

				},
				save: function() {
					conosle.log("开始保存")
				}
			}
		})

		function getContent() {
			return '<input type="text" value=' + vm.insertX + ' />\
    		<input type="text" value=' + vm.insertY + ' />\
    		<button type="button" class="btn btn-small btn-primary">保存</button>\
    		<button type="button" class="btn btn-small btn-default">重置</button>'
		}
	</script>

</html>